table, th, td{
    width : 1000px;
    margin: auto;
    background-color: white;
}
body{
background: linear-gradient(blue,black);
}   
.photoActeur {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    
}
.title{
    text-align: center;
    font-size:xx-large ;
    background-color: black;
    color:white;
}
.synopsis{
    float: left;
}
#afficheFilm{
    max-width: 400px;
    max-height: 500px;
}
.distribution{
    background-color: blue;
    color: white;
    font-size: 25px;
    margin: 0%;
}
.films{
    float: left;
    font-size: x-large;
    padding-left: 5px;
}
li{
    list-style:disc ;
}
.bleu{
    color: blue;
    font-size:smaller;
}
.name{
    font-size: large;
    font-weight: 800;
}
#mark{
    background-image: url('../images/téléchargement.jpg');
}
#ford{
    background-image: url('../images/téléchargement (1).jpg');
}
#fisher{
    background-image: url('../images/téléchargement\ \(2\).jpg');
}
#alec{
    background-image: url('../images/téléchargement\ \(3\).jpg');
}
#daniels{
    background-image: url('../images/téléchargement\ \(7\).jpg');
}
#kenny{
    background-image: url('../images/téléchargement\ \(6\).jpg');
}
#peter{
    background-image: url('../images/téléchargement\ \(5\).jpg');
}
#david{
    background-image: url('../images/téléchargement\ \(4\).jpg');
}